.appBar {
    // border-radius: 15;
    // margin: '30px 0';
    display: 'flex';
    flex-direction: 'row';
    justify-content: 'space-between';
    align-items: 'center';
    // margin-bottom: 10rem;
    height: 50px;

    .brandContainer {
      // display: 'flex';
      // align-items: 'center';
      
      .heading {
        display: 'flex';
        flex-direction: 'row';
      }
    };

    .routesContainer {
      // display: 'flex';
      flex-direction: row;
      justify-content: flex-end;
      // width: '400px';

      .routeLink {
        text-decoration: 'none';
        padding: 1rem;
      }
    }

   

  }

 