
.bg-blue{
    background: #2d8cd6;
}

/* .content{
    width: 80%;
} */

.share-button{
    background: #aaaaaa;
}
.share-top-right{
    background: #f44481;
}
.share-top-right-text{
    color: #f44481!important
}
.bg-card-board{
    background: #f2f2f2!important;
}

.font-18{
    font-size: 18px;
}
.font-15{
    font-size: 15px;
}

.color-gray{
    color:#cbcbcb!important;
}

.color-header-board{
    color: #4b9cdc!important;
}

.act{
    /* width: 150px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


// .CircularProgressbar .CircularProgressbar-text {
//     fill: blue;
//     font-size: 20px;
//     dominant-baseline: middle;
//     text-anchor: middle;
//   }

//   .CircularProgressbar .CircularProgressbar-path {
//     stroke: blue;
//     stroke-linecap: round;
//     -webkit-transition: stroke-dashoffset 0.5s ease 0s;
//     transition: stroke-dashoffset 0.5s ease 0s;
//   }
  
//   .CircularProgressbar .CircularProgressbar-trail {
//     stroke: blue;
//     /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
//     stroke-linecap: round;
//   }











